mat-card-header {
    display: flex;
    justify-content: space-between;
}

.room-info-container {
    display: flex;
    justify-content: space-between;
}

.main-card {
    width: 50%;
    box-shadow: none !important;
}

mat-card-content {
    margin: 1vw;
}

.text-wrapper {
    width: 95%;
    margin-left: 1vw;
}

textarea {
    width: 100%;
}

.text-row {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tag-container {
    width: 40%;
}

.tag-label {
    font-size: 20px;
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}

.images-contianer {
    display: flex;
    justify-content: space-evenly;
}

.carousel-wrapper {
    width: 65%;
}

.room-img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.room-details {
    display: flex;
}

.details-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

.img-add-button {
    color: gray;
    height: 80px;
    width: 80px;
}

.img-add-button:hover {
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
}

.select-field {
    width: 80%;
    margin: auto;
}

.config-section {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
}

table {
    width: 100%;
}

.table-row:hover {
    background-color: whitesmoke;
}

.system {
    margin-bottom: 25px;
    margin-top: 2px;
}

.system-button {
    margin-top: 20px;
    width: 50%;
    margin: 20px auto 0 auto;
}

.final-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}