table {
    width: 100%;
}

.selected-port {
    color: grey;
}

.unselected-port {
    color: black;
}

tr.device-row:hover {
    background: whitesmoke;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

.button-container {
    display: flex;
    margin-top: 2vh;
}

button {
    margin-right: 1vw;
}