<div class="action-container">
    <button mat-raised-button color="primary" (click)="editRoom(null)">
        <mat-icon>add</mat-icon>
        Add New
    </button>
    <!-- filter rooms -->
</div>

<div class="room-list">
    <ng-container *ngFor="let r of rooms">
        <mat-card>
            <mat-card-header>
                <mat-card-title (click)="routeToRoomPage(r.ID)">{{ r.ID }}</mat-card-title>
                <span class="spacing" (click)="routeToRoomPage(r.ID)"></span>
                <button mat-icon-button (click)="editRoom(r)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-card-header>
        </mat-card>
    </ng-container>
</div>
