<form class="search-form">
  <mat-form-field class="search-field">
    <mat-label>Search</mat-label>
    <input type="text" matInput>
  </mat-form-field>
</form>

<table mat-table [dataSource]="systemData" class="data-table">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> System Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Designation Column -->
  <ng-container matColumnDef="designation">
    <th mat-header-cell *matHeaderCellDef> System Designation </th>
    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="select(row.id)"
      [ngClass]="{'highlight': selectedRowIndex == row.id}">

  </tr>
</table>



