.port-panel {
    margin: 1vw;
    padding: 1vw;
}

.panel-header {
    font-size: 24px;
    font-weight: 500;
}

::ng-deep mat-expansion-panel-header span {
    padding: 5px;
}

table {
    width: 100%;
}

.device-column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device-column-container div p {
    padding: 0;
    margin: 0;
}

tr.port-row:hover {
    background: whitesmoke;
}