<mat-card-title style="text-align: center;">{{ device.id }}</mat-card-title>
<mat-card-content class="content-container">
    <mat-expansion-panel class="port-panel">
        <mat-expansion-panel-header class="panel-header">Incoming Ports</mat-expansion-panel-header>
        <section>
            <table mat-table [dataSource]="filterPorts(true)">
                <ng-container matColumnDef="port">
                    <th mat-header-cell *matHeaderCellDef>Port</th>
                    <td mat-cell *matCellDef="let port">{{ port.name }}</td>
                </ng-container>
            
                <ng-container matColumnDef="connectedDevice">
                    <th mat-header-cell *matHeaderCellDef>Connected Device</th>
                    <td mat-cell *matCellDef="let port">
                        <div class="device-column-container">
                            <div><p *ngIf="port.endpoints.length > 0">{{ port.endpoints[0].device }} : {{ port.endpoints[0].port }}</p></div>
                            <button mat-icon-button (click)="configurePort(port);$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="portColumns"></tr>
                <tr mat-row *matRowDef="let port; columns: portColumns;" class="port-row" (click)="selectPort(port)"></tr>
            </table>
        </section>
    </mat-expansion-panel>

    <mat-expansion-panel class="port-panel">
        <mat-expansion-panel-header class="panel-header">Outgoing Ports</mat-expansion-panel-header>
        <section>
            <table mat-table [dataSource]="filterPorts(false)">
                <ng-container matColumnDef="port">
                    <th mat-header-cell *matHeaderCellDef>Port</th>
                    <td mat-cell *matCellDef="let port">{{ port.name }}</td>
                </ng-container>
            
                <ng-container matColumnDef="connectedDevice">
                    <th mat-header-cell *matHeaderCellDef>Connected Device</th>
                    <td mat-cell *matCellDef="let port">
                        <div class="device-column-container">
                            <div><p *ngIf="port.endpoints.length > 0">{{ port.endpoints[0].device }} : {{ port.endpoints[0].port }}</p></div>
                            <button mat-icon-button (click)="configurePort(port);$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="portColumns"></tr>
                <tr mat-row *matRowDef="let port; columns: portColumns;" class="port-row" (click)="selectPort(port)"></tr>
            </table>  
        </section>
    </mat-expansion-panel>
</mat-card-content>