<mat-dialog-content>
    <div class="input-container">
        <div class="text-row">
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput type="text" [(ngModel)]="data.ID">
            </mat-form-field>
        </div>
        <div class="text-row">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="data.Name">
            </mat-form-field>
        </div>
        <div class="text-row">
            <mat-form-field>
                <mat-label>Type</mat-label>
                <input matInput type="text" [(ngModel)]="data.Type">
            </mat-form-field>
        </div>
        <div class="text-row">
            <mat-form-field (click)="test()">
                <mat-label>Enpoint</mat-label>
                <mat-chip-list>
                    <mat-chip *ngFor="let dev of data.Endpoint"
                        [removable]="removable"
                        (removed)="onRemove(dev)">
                        {{ dev }}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
        </div>
    </div>

    <div class="actions-container">
        <span class="spacer-left"></span>
        <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
        <button mat-stroked-button color="primary" (click)="onSave()">Save</button>
    </div>

</mat-dialog-content>
