.room-info-container {
    display: flex;
    justify-content: space-between;
}

mat-card {
    width: 50%;
}

mat-card-content {
    margin: 1vw;
}

.text-wrapper {
    width: 95%;
    margin-left: 1vw;
}

textarea {
    width: 100%;
}

.text-row {
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tag-container {
    width: 40%;
}

.tag-label {
    font-size: 20px;
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}