<div class="action-container">
    <button mat-raised-button color="primary" (click)="editBuilding(null)">
        <mat-icon>add</mat-icon>
        Add New
    </button>
    <!-- filter buildings -->
</div>

<div class="building-list">
    <ng-container *ngFor="let b of buildings">
        <mat-card>
            <mat-card-header>
                <mat-card-title (click)="routeToRoomList(b.ID)">{{ b.ID }}</mat-card-title>
                <span class="spacing" (click)="routeToRoomList(b.ID)"></span>
                <button mat-icon-button (click)="editBuilding(b)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-card-header>
            <img mat-card-image [src]="getImage(b.ID)" alt="A cool image of the {{ b.ID }}" class="image" (click)="routeToRoomList(b.ID)">
        </mat-card>
    </ng-container>
</div>