.column-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 20px 0 20px;
    overflow-y: scroll;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
}

.table-row:hover {
    background-color: whitesmoke;
}

.device-name-container {
    align-content: center;
    display: flex;
    justify-content: left;
    height: 100%;
}

.device-name-container mat-icon, p {
    height: 25px;
}

.device-name-container mat-icon{
    margin: 0;
    padding: 0;
}

.device-name-container p {
    padding: 2px 0 0 0;
    margin: 0 0 0 15px;
}

.list-wrapper {
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.button-container button {
    width: 40%;
}

.config-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.layout-container {
    height: 70%;
}

.control-panel-container {
    height: 30%;
}

.ui-button {
    padding-top: 25px;
}

.control-group {
    margin-top: 10px;
}

.cg-panel {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.cg-panel-test {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

.cg-expansion {
    width: 45%;
    margin: 10px;
}

.cg-card {
    width: 28%;
    margin-bottom: 1vh;
}

.cg-button {
    margin-right: 10px;
}

.control-panel-title {
    padding-left: 2.5%;
    padding-top: 3vh;
    font-size: 16pt;
}

.control-panel-assignment {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.spacing {
    flex: 1 1 auto;
}

.final-device-column {
    padding: 19px 0 0 0;
    margin-bottom: 20px;
}

mat-chip-list {
    float: right;
    overflow: wrap;
}

mat-basic-chip {
    font-size: smaller;
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
    background-color: #e7e7e7;
    color: dimgray;
    margin: 0 0 0 5px;
}

mat-basic-chip:hover {
    background-color: lightgray;
}

.main-grid {
    width: 100%;
    height: 77vh;
}

mat-basic-chip {
    cursor: pointer;
}
 
tr.detail-row {
    height: 0;
}

tr.layout-row:not(.expanded-row):hover {
    background: whitesmoke;
}

.expanded-panel {
    overflow: hidden;
}

.layout-item-list {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    height: 100%;
}

.layout-section-test {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

h3 {
    text-align: center;
}