.ui-config-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.main-card {
    width: 50%;
    box-shadow: none !important;
    min-height: 85vh;
    max-height: 85vh;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

.table-row:hover {
    background-color: whitesmoke;
}

.device-name-container {
    align-content: center;
    display: flex;
    justify-content: left;
    height: 100%;
}

.device-name-container mat-icon, p {
    height: 25px;
}

.device-name-container mat-icon{
    margin: 0;
    padding: 0;
}

.device-name-container p {
    padding: 2px 0 0 0;
    margin: 0 0 0 15px;
}

.list-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button-container button {
    width: 40%;
}


.config-section {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}

.ui-button {
    padding-top: 25px;
}

.control-group {
    margin-top: 10px;
}

.cg-panel {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.cg-card {
    width: 28%;
    margin-bottom: 1vh;
}

.cg-button {
    margin-right: 10px;
}

.control-panel-title {
    padding-left: 2.5%;
    padding-top: 3vh;
    font-size: 16pt;
}

.control-panel-assignment {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.spacing {
    flex: 1 1 auto;
}

.final-device-column {
    padding: 19px 0 0 0;
    margin-bottom: 20px;
}

mat-chip-list {
    float: right;
    overflow: wrap;
}

mat-basic-chip {
    font-size: smaller;
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
    background-color: #e7e7e7;
    color: dimgray;
    margin: 0 0 0 5px;
}

mat-basic-chip:hover {
    background-color: lightgray;
}