<div class="ui-config-container">
    <mat-card class="main-card"  style="border-right: 1px solid lightgray; border-radius: 0px;">
        <mat-card-content>
            <h3>Devices</h3>
            <div class="list-wrapper">
                <table mat-table [dataSource]="deviceData">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Device Name </th>
                        <td mat-cell *matCellDef="let dev"> {{dev.name}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="deviceColumns;"></tr>
                    <tr mat-row *matRowDef="let device; columns: deviceColumns;" class="table-row"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div class="button-container">
                <button mat-stroked-button color="primary">Add Device</button>
                <button mat-stroked-button color="primary">Add Existing Device</button>
            </div>
        </mat-card-footer>
    </mat-card>
    <mat-card class="main-card">
        <mat-card-content>
            <h3>UI Configuration</h3>
        </mat-card-content>
    </mat-card>
</div>