<div class="action-container">
    <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add New
    </button>
    <mat-form-field class="filter-field">
        <mat-label>Filter Rooms</mat-label>
        <input matInput [(ngModel)]="filterParam" (keyup)="filterRooms()">
    </mat-form-field>
</div>

<div class="room-list">
    <ng-container *ngFor="let r of filteredRooms">
        <mat-card (click)="routeToRoomPage(r.id)">
            <mat-card-header>
                <mat-card-title>{{ r.name }}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </ng-container>
</div>
