.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-wrapper {
    width: 50%;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.section-title {
    padding-left: 8px;
}

.control-group {
    margin-top: 10px;
}

.cg-panel {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.cg-card {
    width: 28%;
    margin-bottom: 1vh;
}

.cg-button {
    margin-right: 10px;
}

.control-panel-title {
    padding-left: 2.5%;
    padding-top: 3vh;
    font-size: 16pt;
}

.control-panel-assignment {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
}

.spacing {
    flex: 1 1 auto;
}