<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Control Panels">
        <div class="tab-content">
            <table mat-table [dataSource]="filterControlPanels()" class="mat-elevation-z4">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? CPSelection.toggle(dev) : null"
                                    [checked]="CPSelection.isSelected(dev)"
                                    color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.ID}} </td>
                </ng-container>
            
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.Type}} </td>
                </ng-container>
            
                <tr mat-row *matRowDef="let device; columns: deviceTableColumns;" class="device-row" (click)="CPSelection.toggle(device)"></tr>
            </table>
        </div>
    </mat-tab>

    <mat-tab label="Displays">
        <div class="tab-content">
            <table mat-table [dataSource]="devices" class="mat-elevation-z4">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? DisplaySelection.toggle(dev) : null"
                                    [checked]="DisplaySelection.isSelected(dev)"
                                    color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.ID}} </td>
                </ng-container>
            
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.Type}} </td>
                </ng-container>
            
                <tr mat-row *matRowDef="let device; columns: deviceTableColumns;" class="device-row" (click)="DisplaySelection.toggle(device)"></tr>
            </table>
        </div>
    </mat-tab>

    <mat-tab label="Inputs">
        <div class="tab-content">
            <table mat-table [dataSource]="devices" class="mat-elevation-z4">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? InputSelection.toggle(dev) : null"
                                    [checked]="InputSelection.isSelected(dev)"
                                    color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.ID}} </td>
                </ng-container>
            
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.Type}} </td>
                </ng-container>
            
                <tr mat-row *matRowDef="let device; columns: deviceTableColumns;" class="device-row" (click)="InputSelection.toggle(device)"></tr>
            </table>
        </div>
    </mat-tab>

    <mat-tab label="Microphones">
        <div class="tab-content">
        </div>
    </mat-tab>

    <mat-tab label="Master Volume">
        <div class="tab-content">
            <table mat-table [dataSource]="devices" class="mat-elevation-z4">

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? MasterVolSelection.toggle(dev) : null"
                                    [checked]="MasterVolSelection.isSelected(dev)"
                                    color="primary">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.ID}} </td>
                </ng-container>
            
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let dev"> {{dev.Type}} </td>
                </ng-container>
            
                <tr mat-row *matRowDef="let device; columns: deviceTableColumns;" class="device-row" (click)="MasterVolSelection.toggle(device)"></tr>
            </table>
        </div>
    </mat-tab>

    <mat-tab label="Cameras">
        <div class="tab-content">
        </div>
    </mat-tab>
</mat-tab-group>
<div class="button-container">
    <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
    <button mat-stroked-button color="primary" (click)="confirmSave()">Done</button>
    <div class="spacer-right"></div>
</div>
