mat-tab-group {
    margin: 20px;
}

.layout-name-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.layout-name {
    font-size: xx-large;
    margin: 0 20px 0 0;
    padding: 27px 0 26px 0;
}

.layout-name-field {
    font-size: large;
    margin: 0 20px 0 0;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
}

.action-button {
    margin-left: 20px;
}

table {
    width: 95%;
    margin: 2.5%;
}

.device-row:hover {
    background: whitesmoke;
}

table, th, td {
    padding: 2px;
    border-collapse: collapse;
}

.tab-content {
    height: 50vh;
    overflow-y: auto;
    padding: 20px;
}

.mic-group-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.mic-group {
    margin-bottom: 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.section-title {
    font-size: large;
}

.drag-list {
    width: 100%;
    display: block;
    background: white;
    overflow: hidden;
}

.drag-item {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
}

.list-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.drag-item div {
    margin: 0 0 0 20px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-item:last-child {
    border: none;
}

.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}