h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
}

.table-row:hover {
    background-color: whitesmoke;
}

.highlighted-row {
    background: rgb(236, 236, 236);
}

.device-name-container {
    align-content: center;
    display: flex;
    justify-content: left;
    height: 100%;
}

.device-name-container mat-icon, p {
    height: 25px;
}

.device-name-container mat-icon{
    margin: 0;
    padding: 0;
}

.device-name-container p {
    padding: 2px 0 0 0;
    margin: 0 0 0 15px;
}

.list-wrapper {
    height: 100%;
    overflow-y: scroll !important;
    padding: 0 20px 20px 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.button-container button {
    width: 40%;
}

.final-device-column {
    padding: 19px 0 0 0;
    margin-bottom: 20px;
}

mat-chip-list {
    float: right;
    overflow: wrap;
}

mat-basic-chip {
    font-size: smaller;
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
    background-color: #e7e7e7;
    color: dimgray;
    margin: 0 0 0 5px;
}

mat-basic-chip:hover {
    background-color: lightgray;
}

mat-grid-list {
    width: 100%;
    height: 77vh;
}

.devices-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 20px 0 20px;
}