<mat-grid-list cols="2" rowHeight="fit">
    <mat-grid-tile>
        <div class="devices-wrapper">
            <h1>Devices</h1>
            <p style="text-align: center;">Select a device to configure its ports</p>
            <div class="list-wrapper">
                <table mat-table [dataSource]="deviceData">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Device Name </th>
                        <td mat-cell *matCellDef="let dev"><div class="device-name-container"><mat-icon>{{dev.icon}}</mat-icon><p>{{dev.name}}</p></div></td>
                    </ng-container>

                    <ng-container matColumnDef="manufacturer">
                        <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
                        <td mat-cell *matCellDef="let dev"> {{ getManufacturerFromModelID(dev.modelID) }} </td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef> Model </th>
                        <td mat-cell *matCellDef="let dev">
                            <div>{{ getModelNameFromID(dev.modelID) }}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="systems">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let dev">
                            <mat-chip-list>
                                <mat-basic-chip (click)="routeToParentRoom(dev)">{{getRoomFromID(dev.roomID)}}</mat-basic-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="deviceColumns;"></tr>
                    <tr mat-row *matRowDef="let device; columns: deviceColumns;" class="table-row" [class.highlighted-row]="selectedDevice === device" (click)="selectDevice(device)"></tr>
                </table>
            </div>
            <div class="button-container">
                <button mat-stroked-button color="primary" (click)="addDevice(null, false)">Add Device</button>
                <button mat-stroked-button color="primary">Add Existing Device</button>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="devices-wrapper">
            <h1>Ports<ng-container *ngIf="selectedDevice != null"> on {{ getDeviceName() }}</ng-container></h1>
            <p style="text-align: center;">Select a port to configure its connection</p>
            <div class="list-wrapper">
                <table mat-table [dataSource]="portData">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Port Name </th>
                        <td mat-cell *matCellDef="let port">{{port.name}} ({{port.direction}})</td>
                    </ng-container>

                    <ng-container matColumnDef="connection">
                        <th mat-header-cell *matHeaderCellDef> Connected Port </th>
                        <td mat-cell *matCellDef="let port"> <div *ngIf="port.endpoints.length > 0">{{getDeviceFromID(port.endpoints[0].connectedDeviceID).name}} : {{port.endpoints[0].connectedPortName}}</div> </td>
                    </ng-container>

                    <ng-container matColumnDef="portEdit">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let port">
                            <div class="port-edit-container" *ngIf="selectedDevice.dynamicPorts">
                                <button mat-icon-button (click)="editDynamicPort($event, port)"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button (click)="onDeletePort($event, port)"><mat-icon>delete</mat-icon></button>
                            </div>
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="portColumns;"></tr>
                    <tr mat-row *matRowDef="let port; columns: portColumns;" class="table-row" (click)="connectPort(port)"></tr>
                </table>
            </div>
            <div class="button-container" *ngIf="selectedDevice.dynamicPorts">
                <button mat-stroked-button color="primary" (click)="addPort(null)">Add Port</button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>