.port-config-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.main-card {
    width: 50%;
    box-shadow: none !important;
    min-height: 85vh;
    max-height: 85vh;
}

table {
    width: 100%;
}

.table-row:hover {
    background-color: whitesmoke;
}

.highlighted-row {
    background: rgb(236, 236, 236);
}

.list-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0 20px 20px 20px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button-container button {
    width: 40%;
}

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: none;
    // box-shadow: inset 0 0 3px #707070;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}