
<div class="content-wrapper">
    <mat-horizontal-stepper #stepper>
        <mat-step>
            <ng-template matStepLabel>Choose Device 1</ng-template>
            <div class="device-container">
                <ng-container *ngFor="let dev of devices">
                    <mat-card class="device-card" (click)="configurePorts(dev)">
                        <mat-card-header>
                            <span>{{ dev.ID }}</span>
                        </mat-card-header>
                    </mat-card>
                </ng-container>
            </div>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Choose Out-going Port</ng-template>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Choose Device 2</ng-template>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Choose In-coming Port</ng-template>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Done</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>