mat-horizontal-stepper {
    margin-top: 5vh;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

.device-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 1vw;
}

.device-card {
    cursor: pointer;
    width: 20%;
    margin-top: 5vh;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.spacer-right {
    flex: 1 1 auto;
}