.tab-content {
    height: 50vh;
    overflow-y: auto;
}

.id-wrapper {
    margin-left: 2.5%;
}

table {
    width: 95%;
    margin: 2.5%;
}

.device-row:hover {
    background: whitesmoke;
}

table, th, td {
    padding: 2px;
    border-collapse: collapse;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

.action-button {
    margin-left: 20px;
}