<div class="action-container">
    <button mat-raised-button color="primary" (click)="editRoom(null)">
        <mat-icon>add</mat-icon>
        Add New
    </button>
    <!-- filter rooms -->
    <mat-form-field class="filter-field">
        <mat-label>Filter Rooms</mat-label>
        <input matInput [(ngModel)]="filterParam" (keyup)="filterRooms()">
    </mat-form-field>
</div>

<div class="room-list">
    <ng-container *ngFor="let r of filteredRooms">
        <mat-card (click)="routeToRoomPage(r.ID)">
            <mat-card-header>
                <mat-card-title>{{ r.ID }}</mat-card-title>
                <span class="spacing"></span>
                <button mat-icon-button (click)="editRoom(r)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </mat-card-header>
        </mat-card>
    </ng-container>
</div>
