$card-width: 275px;
.action-container {
    padding-top: 2vh;
    padding-bottom: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.filter-field {
    width: 30vw;
    padding-left: 5vw;
}

.room-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
}

mat-card {
    min-width: $card-width;
    width: $card-width;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

mat-card-title {
    padding-top: 15%;
}

.spacing {
    flex: 1 1 auto;
}