<mat-dialog-content class="system-container">
    <h2>Input System Details</h2>
    <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>System Name</mat-label>
                <input matInput [(ngModel)]="system.name">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Designation</mat-label>
                <mat-select [(value)]="system.designation">
                    <mat-option *ngFor="let d of designations" [value]="d">{{d}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Install Date</mat-label>
                <input matInput [(ngModel)]="system.installDate" [matDatepicker]="installPicker">
                <mat-datepicker-toggle matSuffix [for]="installPicker"></mat-datepicker-toggle>
                <mat-datepicker #installPicker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Check Date</mat-label>
                <input matInput [(ngModel)]="system.checkDate" [matDatepicker]="checkPicker">
                <mat-datepicker-toggle matSuffix [for]="checkPicker"></mat-datepicker-toggle>
                <mat-datepicker #checkPicker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <div class="button-container">
                <button mat-stroked-button color="warn" (click)="onCancel()">Cancel</button>
                <button mat-raised-button color="primary" (click)="onSave()">Save</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>
