.content-container {
    display: flex;
    justify-content: space-between;
}

mat-card {
    width: 45%;
}

table {
    width: 100%;
}

.device-column-container {
    display: flex;
    justify-content: space-between;
}

tr.port-row:hover {
    background: whitesmoke;
}