.system-container {
    min-width: 700px;
    min-height: 600px;
}

mat-grid-list {
    // min-height: 600px;
    margin: 20px 0 0 0;
}

mat-form-field {
    margin: 0 20px 0 20px;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: flex-end;
}