<mat-card-header>
    <mat-card-title>{{ roomID }} Devices</mat-card-title>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="deviceTypeMenu">
        <mat-icon>add</mat-icon>
        Add Device
    </button>
</mat-card-header>
<mat-card-content class="device-list">
    <table mat-table [dataSource]="devicesSource" multiTemplateDataRows>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let dev"> {{dev.id}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type (upcoming feature)</th>
            <td mat-cell *matCellDef="let dev"> {{dev.Type}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let dev"> 
                <div class="address-container">
                    <p>{{dev.address}}</p>
                    <button mat-icon-button (click)="editDevice(dev)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- expanded column -->
        <ng-container matColumnDef="expanded">
            <th mat-header-cell *matHeaderCellDef>Tags</th>
            <td mat-cell *matCellDef="let dev" [attr.colspan]="deviceTableAttributes.length">
                <div class="device-detail" [@rowExpand]="dev == expandedDevice ? 'expanded' : 'collapsed'">
                    <mat-expansion-panel class="tag-panel">
                        <mat-expansion-panel-header>Tags</mat-expansion-panel-header>
                        <section *ngFor="let tag of dev.tags | keyvalue" class="tag-row">
                            <div>{{ tag.key }}</div>
                            <div>{{ tag.value }}</div>
                        </section>
                    </mat-expansion-panel>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="deviceTableAttributes"></tr>
        <tr mat-row *matRowDef="let device; columns: deviceTableAttributes"
            class="device-row"
            [class.expanded-row]="expandedDevice === device"
            [class.highlighted-row]="highlightedDevice === device"
            (click)="test(device)"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expanded']" class="detail-row"></tr>
    </table>
</mat-card-content>



<!-- <app-device-menu-item #deviceTypes [nodes]="menuNodes" [parent]="this"></app-device-menu-item> -->

<mat-menu #deviceTypeMenu="matMenu">
    <ng-container *ngFor="let m of menuNodes">
        <button mat-menu-item [matMenuTriggerFor]="subMenu"><mat-icon>{{ m.Icon }}</mat-icon>{{ m.Label }}</button>
        <mat-menu #subMenu="matMenu">
            <ng-container *ngFor="let n of m.SubNodes">
                <button mat-menu-item (click)="createDevice(n.Value)"><mat-icon>{{ n.Icon }}</mat-icon>{{ n.Label }}</button>
            </ng-container> 
        </mat-menu>
    </ng-container>
</mat-menu>
