mat-card-header {
    display: flex;
    justify-content: space-between;
}

mat-card-title {
    padding-left: 10px;
}

table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.device-row:not(.expanded-row):hover {
    background: whitesmoke;
}

.highlighted-row {
    background: rgb(236, 236, 236);
}

.device-row td {
    border-bottom-width: 0;
}

.device-detail {
    overflow: hidden;
    display: flex;
}

.tag-panel {
    width: 100%;
    margin: 1vw;
}

.tag-row {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.description-container {
    display: flex;
    justify-content: space-between;
}